# ─── Кэш Python и временные файлы ────────────────────────────────
__pycache__/
*.pyc
*.pyo
*.log
*.tmp
*.ts
*.swp
*.cache
.pytest_cache/
.ipynb_checkpoints/
*.cover
htmlcov/

# ─── Весовые файлы моделей и выходы обучения ─────────────────────
*.pt
*.pth
*.onnx
*.trt
*.bin
*.h5
*.weights
models/
weights/
runs/
outputs/
plots/

# ─── Datasets ────────────────────────────────────────────────────
# Исключаем все данные, кроме YAML и DVC-файлов
data/*
!data/data.yaml
!data/*.dvc
!data/**/*.dvc

# ─── Системные файлы ОС ──────────────────────────────────────────
.DS_Store
Thumbs.db
desktop.ini

# ─── Конфигурации IDE ────────────────────────────────────────────
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ─── Виртуальные окружения Python ────────────────────────────────
.venv/
venv/
env/
*.venv
pip-selfcheck.json

# ─── Poetry ──────────────────────────────────────────────────────
# lock-файл генерируется, но можно исключать из трека, если команда договорилась
poetry.lock

# ─── Локальные или чувствительные конфигурации ───────────────────
*.local
*.secret
config.yml

# ─── Ключи и секреты (!!! запрещено хранить в репозитории) ───────
*.key
*.pem
ssh
ssh.pub
cleveland-461918-t2-c902e7065034.json
cleveland-461918-t2-eedd7c643894.json

# ─── Юнит-тесты (опционально) ─────────────────────────────────────
# tests/

# ─── DVC — защита от случайного пуша данных ──────────────────────
/data
