# Кэш и временные файлы
*.ts
*.cache
*.log
*.tmp
*.swp
*.pyc
*.pyo
__pycache__/
.pytest_cache/
.ipynb_checkpoints/

# Модели и веса
*.pt
*.pth
*.bin
*.h5
*.weights
models/
weights/
runs/
outputs/

# Datasets (храним только метаданные и DVC-файлы)
data/*
!data/data.yaml
!data/*.dvc
!data/train/
!data/train/**/*.dvc
!data/val/
!data/val/**/*.dvc

# Системные файлы
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python env
venv/
env/
.venv/
*.venv
pip-selfcheck.json

# Poetry
poetry.lock

# Локальные/секретные конфиги
config.yml
*.local
*.secret

# Тесты и вспомогательные скрипты
tests/

# SSH ключи (не пушим!)
*.key
*.pem
ssh
ssh.pub
'cleveland-461918-t2-eedd7c643894.json' 
